$global-width: 500px;

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #333333;
    font-size: 0;
}

.main{
    overflow: hidden;
    width:$global-width;
    height: 100vh;
    margin: 0 auto;
}
.container {
    width: $global-width;
    position: relative;
    top: -33.5vh;
}

.row-item {
    .col-item {
        display: inline-block;
        width: ($global-width - 6px)/3;
        height: 33.3vh;
        border: 1px solid #cccccc;
    }
}

.black {
    background-color: #111111;
}

.white {
    background-color: #eeeeee;
}

.red {
    background-color: #bf616a;
}